*.class

# Package Files #
*.jar
*.war
*.ear
/Week 3/nbproject/private/
/JSFWeek2Opd1/nbproject/private/
/JSFWeek3/build/
/JSFWeek2Opd2/nbproject/private/
/JSFWeek2Opd3/nbproject/private/
/JSFWeek2Opd1/dist/
/JSFWeek2Opd1/build/
/JSFWeek3Opd8/nbproject/private/
/JSFWeek3Opd9/nbproject/private/
/JSFWeek3Opd4/nbproject/private/
/Fractal_01/nbproject/private/
/Fractal_Console_01/nbproject/private/
/Fractal_01/build/
/Fractal_01/dist/
/MessageBox/nbproject/private/
/MP_GUI_Lib/nbproject/private/
/MP_Lib_GUI/nbproject/private/
/Fractal_Opdr_1_2/nbproject/private/
/Fractal_Opdr_1_2/build/
/KochFractal_Week6/nbproject/private/
/KochFractal_Week6/dist/
/KochFractal_Week6/build/
/KochFractal_Week6 (copy)/build/
/KochFractal_Week6 (copy)/dist/
/KochFractal_Week6 (copy)/nbproject/private/
/KochFractal_Week1/build/
/KochFractal_Week1/dist/
/KochFractal_Week1/nbproject/private/
/P6/KochFractal_Week1/build/
/P6/KochFractal_Week1/dist/
/P6/KochFractal_Week1/nbproject/private/
/P5/Fractal_03/build/
/P5/Fractal_03/dist/
/P5/Fractal_03/nbproject/private/
/P5/JSFWeek2Opd1/build/
/P5/JSFWeek2Opd1/dist/
/P5/JSFWeek3Opd4/nbproject/private/
/P5/KochFractal_Week6/build/
/P5/KochFractal_Week6/dist/
/P5/KochFractal_Week6/nbproject/private/
/P6/KochReadWrite/build/
/P6/KochReadWrite/dist/
/P6/KochReadWrite/nbproject/private/
/P6/KochFractal_Week3 (copy)/nbproject/private/
/P6/KochFractal_Week4/nbproject/private/
/P6/KochFractal_Week2_ZonderGUI (copy)/nbproject/private/
/P6/KochFractal_Week4_ZonderGUI/nbproject/private/
/P6/KochFractal_Week2_MetGUI (copy)/nbproject/private/
/P6/KochFractal_Week4_MetGUI/nbproject/private/
/P6/KochFractal_Week4_ZonderGUI/build/
/P6/KochFractal_Week4_MetGUI/build/
/P6/KochFractal_Week4_MetGUI/dist/
/P6/KochFractal_Week2_ZonderGUI/build/
/P6/KochFractal_Week2_MetGUI/dist/
/P6/KochFractal_Week2_MetGUI/build/
/P6/KochFractal_Week3/dist/
/P6/KochFractal_Week3/build/
/P6/KochFractal_Week2_ZonderGUI (copy)/build/
/P6/KochFractal_Week2_MetGUI (copy)/build/
/P6/KochFractal_Week2_MetGUI (copy)/dist/
/P6/KochFractal_Week_MetGUI/build/
/P6/KochFractal_Week_MetGUI/dist/
/P6/KochFractal_Week_MetGUI/nbproject/private/
/P6/KochFractal_Week3_MetGUI/build/
/P6/KochFractal_Week3_MetGUI/dist/
/P6/KochFractal_Week3_MetGUI/nbproject/private/