*.class

# Package Files #
*.jar
*.war
*.ear
/Week 3/nbproject/private/
/JSFWeek2Opd1/nbproject/private/
/JSFWeek3/build/
/JSFWeek2Opd2/nbproject/private/
/JSFWeek2Opd3/nbproject/private/
/JSFWeek2Opd1/dist/
/JSFWeek2Opd1/build/
/JSFWeek3Opd8/nbproject/private/
/JSFWeek3Opd9/nbproject/private/